* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
  color: white;
}


.body-page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url("../img/wallpaper-netflix.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  color: white;
}

/*sobreposição sobre a imagem de fundo*/
.body-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ); /* sombra */
}

/*lógica para que todo o conteúdo fique acima da sobreposição*/
.body-page > * {
  position: relative;
  z-index: 1;
}

/* ========================== Navbar ==========================*/

/*cabeçalho*/
header {
  width: 100%;
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 40px; 
  box-sizing: border-box;
}

/*Título logo*/
header h1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 900;
}

header h1 .logo-movie {
  color: red;
}

/*lista na horizontal para navegação entre páginas*/
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline 2px red;
}

/*================ Página Login ==========================*/

/*estilo do bloco da página de login*/
.login-page {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 40px;
  padding: 30px;
  width: 500px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  margin-bottom: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

/*estilo do título e parágrafo da página de login*/
.login-page h2 {
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.login-page p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: end;
}

/*estilização dos campos de entrada*/
.login-input {
  display: block;
  margin-bottom: 20px;
  color: white;
}

.login-input label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.login-input input {
  display: block;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 15px;
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.placeholder-class::placeholder {
  color: white;
  transition: all 0.3s ease-in-out;
  opacity: 100%;
  text-align: left;
  display: flex;
  padding: 10px 15px;
  font-family: "Montserrat", sans-serif;
}

.placeholder-class:focus::placeholder {
  opacity: 0;
  transform: translateY(-15px) scale(0.8);
}

/*estilização do botão de login*/
.button-container {
  display: flex;
  justify-content: center;
}

.button-login {
  width: 350px;
  background-color: #db0000;
  filter: brightness(1.2);
  border: none;
  border-radius: 5px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
  cursor: pointer;
  align-self: center;
}
.button-login:hover {
  filter: brightness(1);
  background-color: darkred;
}

.button-login a {
  text-decoration: none;
}

.login-input a {
  text-align: center;
  color: white;
  justify-content: center;
}

/*==================== Página Cadastro ============================*/

/*link para voltar à página de login*/
.link-voltar {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
  color: #cccccc;
  text-decoration: none;
}

.link-voltar:hover {
  color: white;
}

/*estilo do bloco da página de cadastro*/
.cadastro-page {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 30px;
  padding: 30px;
  width: 800px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

/*estilo do título e parágrafo da página de cadastro*/
.cadastro-page h2 {
  color: white;
  font-size: 35px;
  text-align: left;
  display: flex;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.cadastro-page p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

#cadastro-input {
  display: block;
  margin-bottom: 20px;
}

/* Estilo da linha de formulário */
.form-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

/* lógica para que todo o conteúdo fique acima da sobreposição */
.form-row > div {
  flex: 1;
  min-width: 0;
}

#cadastro-input label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: white;
}

#cadastro-input input,
#cadastro-input textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 15px;
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

#cadastro-input input {
  height: 50px;
}

#cadastro-input textarea {
  height: auto;
  resize: vertical;
}

/*Dropdown com opções para linguagens e categorias*/
.select-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.select-container select {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 40px 10px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  appearance: none;
  cursor: pointer;
}

/* Estilo do placeholder */
.select-container select:valid {
  color: white;
}

/* ícone do Bootstrap */
.select-container .select-icon {
  position: absolute;
  right: 15px;
  pointer-events: none;
  color: white;
  font-size: 18px;
}

/* Placeholder cinza */
#cadastro-input select option[disabled] {
  color: #cccccc;
}

/* Padding interno das opções */
#cadastro-input select option {
  background-color: #000;
  color: white;
}

/*options linguagem*/
.linguagem-select {
  width: 100%;
  padding: 10px 15px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  background-color: #000000;
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 5.5l6.5 6 6.5-6H1.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  margin-bottom: 10px;
}

/* Estilo do placeholder */
.linguagem-select:valid {
  color: white;
}

/* Placeholder cinza */
.linguagem-select option[disabled] {
  color: #cccccc;
}

/* Padding interno das opções */
.linguagem-select option {
  padding: 8px;
}

/* Ajuste da altura e rolagem das opções ao focar */
.linguagem-select:focus option {
  height: 120px;
  overflow-y: auto;
}

/*estilização do botão de cadastro*/
.button-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;  width: 350px;
  background-color: #db0000;
  filter: brightness(1.2);
  border: none;
  border-radius: 10px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 30px;
}

.button-cadastro:hover {
  filter: brightness(1);
}

.button-cadastro a {
  text-decoration: none;
}

#cadastro-input a {
  text-align: center;
  color: white;
  justify-content: center;
}

/*============== index page ==================*/

/*estilo do bloco da página inicial*/
.index-section-page {
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 30px;
  width: 800px;
  height: 400px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #cccccc;
  margin-bottom: 46px;
}

/*estilo do título e parágrafo da página inicial*/
.index-section-page h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
}

.index-section-page p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/*estilização do botão da página inicial*/
.index-section-page button {
  display: flex;  align-items: center;  justify-content: center;  width: 200px;
  background-color: red;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto 0 auto;
  transition: background-color 0.3s, transform 0.2s;
}

.index-section-page button:hover {
  background-color: darkred;
  transform: scale(1.05);
}

.index-section-page button a {
  text-decoration: none;
  color: inherit;  padding: 10px 20px;
}

.index-section-page .button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

/*================ Listar Filmes Page =====================*/

/*estilo do bloco da página de listar filmes*/
.listar-filmes-section-page h2{
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
}

/*============Footer ===============*/
footer {
  height: 50px;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/*================== tela listar filmes =====================*/

/*estilo do card de filme*/
.cardFilme {
    display: flex;
    flex-wrap: wrap; 
    background-color: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #333;
    margin-bottom: 20px; 
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/*poster do filme*/
.cardFilme .posterFilme {
    width: 150px;
    height: 220px;
    object-fit: cover;
    flex-shrink: 0;
}

/*informações do filme*/
.cardFilme .infoFilme {
    color: white; 
    padding: 15px;
    flex-grow: 1; 
    flex-basis: 300px; 
}

/*título do filme*/
.cardFilme .infoFilme h3 {
    color: #db0000; 
    font-size: 20px;
    margin-bottom: 10px;
}

/*detalhes do filme*/
.cardFilme .infoFilme p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ccc; 
}

/*negrito nos detalhes do filme*/
.cardFilme .infoFilme p strong {
    color: white;
}

/*botão de lixeira*/
.cardFilme .acoesCard {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid #333;
    background-color: #1a1a1a;
}

/*informações extras do filme*/
.cardFilme .infoFilmeExtra {
    flex-basis: 100%;
    width: 100%;
    color: #ccc;
    padding: 15px;
    font-size: 14px;
    background-color: #1a1a1a;    border-top: 1px solid #333; /* Linha sutil de separação */
}

/*negrito nas informações extras do filme*/
.cardFilme .infoFilmeExtra strong {
    color: white;
}

/* Mensagem de lista vazia */
.mensagemVazia p {
    text-align: center;
    font-size: 1.2em;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para os botões de ação (lixeira) */
.botaoPequeno {
    background: none;
    border: 1px solid #555;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s;
}
.botaoPequenoExcluir:hover {
    background-color: #db0000;
    border-color: #db0000;
    color: white;
}

/*================ Página Sucesso ==================*/

/*estilo do bloco da página de sucesso*/
.sucesso-page {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 30px;
    padding: 30px;
    width: 800px; 
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #cccccc;
    align-items: center; 
}

/*estilo do título e parágrafo da página de sucesso*/
.sucesso-page h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
}

.sucesso-page p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

/*estilo do bloco de mensagem de erro*/
#error-message h2 {
    color: #db0000;
}

/*estilo do card de filme na página de sucesso*/
.cardFilmeSucesso {
    display: flex;
    flex-wrap: wrap;
    background-color: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #333333;
    max-width: 600px;
    box-sizing: border-box;
    margin-top: 15px;
}

/*poster do filme na página de sucesso*/
.cardFilmeSucesso .posterFilme {
    width: 150px;
    height: 220px;
    object-fit: cover;
    flex-shrink: 0;
}

/*informações do filme na página de sucesso*/
.cardFilmeSucesso .infoFilme {
    color: white;
    padding: 15px;
    flex-grow: 1;
    flex-basis: 300px;
}

/*título do filme na página de sucesso*/
.cardFilmeSucesso .infoFilme h3 {
    color: #db0000; 
    font-size: 20px;
    margin-bottom: 10px;
}

/*detalhes do filme na página de sucesso*/
.cardFilmeSucesso .infoFilme p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #cccccc;
    text-align: left; 
}

.cardFilmeSucesso .infoFilme p strong {
    color: white;
}

/*estilização dos botões na página de sucesso*/
.sucesso-page .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.sucesso-page .button-group button {
    width: 220px;
    height: 45px; 
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.sucesso-page .button-group button:hover {
    background-color: darkred;
    transform: scale(1.05);
}

.sucesso-page .button-group button a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
